<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/src/styles/popup.css" />
  </head>
  <body>
    <section class="switch__container">
      <label class="switch">
        <input class="switch__input" type="checkbox" checked />
        <div class="slider round"></div>
      </label>
    </section>
    <main class="main" role="main">
      <section class="section section--header">
        <img
          class="header__logo"
          src="/src/images/shurcleaner.png"
          width="75"
          height="75"
        />
        <p class="header__title">ShurCleaner</p>
      </section>
      <section class="section section--keywords">
        <p class="keywords__title">What topics do you want to avoid?</p>
        <div class="keywords__input">
          <input
            class="keywords__field"
            type="text"
            placeholder="Covid, Messi, +18..."
          />
          <button class="keywords__submit">ADD</button>
        </div>
        <div class="keywords__block"></div>
        <div class="keywords__reset">
          <span class="keywords__reset--button">Reset List</span>
        </div>
      </section>
    </main>
  </body>
  <script src="/src/scripts/popup.js"></script>
</html>
